<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>美多商城-用户中心</title>
    <!-- 引入基础样式文件 -->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- 引入基础JavaScript库 -->
    <script type="text/javascript" src="js/host.js"></script>
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
</head>
<body>
    <!-- Vue应用根元素 -->
    <div id="app" v-cloak>
        <!-- 顶部导航栏 -->
        <div class="header_con">
            <div class="header">
                <div class="welcome fl">欢迎来到美多商城!</div>
                <div class="fr">
                    <!-- 用户登录状态显示 -->
                    <div class="login_btn fl">
                        欢迎您：<em>{{ username }}</em>
                        <span>|</span>
                        <a @click="logoutfunc">退出</a>
                    </div>
                    <!-- 用户中心链接 -->
                    <div class="user_link fl">
                        <span>|</span>
                        <a href="user_center_info.html">用户中心</a>
                        <span>|</span>
                        <a href="cart.html">我的购物车</a>
                        <span>|</span>
                        <a href="user_center_order.html">我的订单</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 搜索栏 -->
        <div class="search_bar clearfix">
            <a href="index.html" class="logo fl"><img src="images/logo.png" alt="美多商城Logo"></a>
            <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
            <form method="get" action="/search.html" class="search_con fr mt40">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
        </div>

        <!-- 主体内容区 -->
        <div class="main_con clearfix">
            <!-- 左侧菜单 -->
            <div class="left_menu_con clearfix">
                <h3>用户中心</h3>
                <ul>
                    <li><a href="user_center_info.html" class="active">· 个人信息</a></li>
                    <li><a href="user_center_order.html">· 全部订单</a></li>
                    <li><a href="user_center_site.html">· 收货地址</a></li>
                    <li><a href="user_center_pass.html">· 修改密码</a></li>
                </ul>
            </div>
            <!-- 右侧内容区 -->
            <div class="right_content clearfix">
                <!-- 基本信息区域 -->
                <div class="info_con clearfix">
                    <h3 class="common_title2">基本信息</h3>
                    <ul class="user_info_list">
                        <li><span>用户名：</span>{{ username }}</li>
                        <li><span>手机号：</span>{{ mobile }}</li>
                        <li>
                            <span>Email：</span>
                            <!-- Email设置区域 -->
                            <div v-if="set_email">
                                <input v-model="email" type="email" name="email">
                                <input @click="save_email" type="button" name="" value="保 存">
                                <input @click="set_email=false" type="reset" name="" value="取 消">
                                <div v-if="email_error">邮箱格式错误</div>
                            </div>
                            <!-- Email显示区域 -->
                            <div v-else-if="email">
                                {{ email }}
                                <div v-if="email_active">已验证</div>
                                <div v-else>
                                    待验证<input @click="save_email" :disabled="send_email_btn_disabled" type="button" :value="send_email_tip">
                                </div>
                            </div>
                            <!-- Email未设置区域 -->
                            <div v-else>
                                <input @click="set_email=true" type="button" name="" value="设 置">
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- 最近浏览区域 -->
                <h3 class="common_title2">最近浏览</h3>
                <div class="has_view_list">
                    <ul class="goods_type_list clearfix">
                        <li v-for="sku in histories">
                            <a :href="sku.url"><img :src="sku.default_image_url" :alt="sku.name"></a>
                            <h4><a :href="sku.url">{{sku.name}}</a></h4>
                            <div class="operate">
                                <span class="prize">￥{{sku.price}}</span>
                                <span class="unit">{{sku.comments}}评价</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 页脚区域 -->
        <div class="footer">
            <div class="foot_link">
                <a href="#">关于我们</a>
                <span>|</span>
                <a href="#">联系我们</a>
                <span>|</span>
                <a href="#">招聘人才</a>
                <span>|</span>
                <a href="#">友情链接</a>
            </div>
            <p>CopyRight © 2016 北京美多商业股份有限公司 All Rights Reserved</p>
            <p>电话：010-****888    京ICP备*******8号</p>
        </div>
    </div>
    <!-- 引入页面专用JS -->
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/user_center_info.js"></script>
</body>
</html>