<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>美多商城-购物车</title>
    <!-- 引入基础样式文件 -->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- 引入Vue.js相关文件 -->
    <script type="text/javascript" src="js/host.js"></script>
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
</head>
<body>
    <!-- Vue应用根元素 -->
    <div id="app" v-cloak>
        <!-- 顶部导航栏 -->
        <div class="header_con">
            <div class="header">
                <div class="welcome fl">欢迎来到美多商城!</div>
                <div class="fr">
                    <!-- 用户登录信息 -->
                    <div v-if="username" class="login_btn fl">
                        欢迎您：<em>[[ username ]]</em>
                        <span>|</span>
                        <a @click="logoutfunc">退出</a>
                    </div>
                    <!-- 登录注册按钮 -->
                    <div v-else class="login_btn fl">
                        <a href="login.html">登录</a>
                        <span>|</span>
                        <a href="register.html">注册</a>
                    </div>
                    <!-- 用户中心链接 -->
                    <div class="user_link fl">
                        <span>|</span>
                        <a href="user_center_info.html">用户中心</a>
                        <span>|</span>
                        <a href="cart.html">我的购物车</a>
                        <span>|</span>
                        <a href="user_center_order.html">我的订单</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 搜索栏 -->
        <div class="search_bar clearfix">
            <a href="index.html" class="logo fl"><img src="images/logo.png" alt="美多商城Logo"></a>
            <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
            <form method="get" action="/search.html" class="search_con fr mt40">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
        </div>

        <!-- 购物车主体内容 -->
        <div class="total_count">全部商品<em>[[total_count]]</em>件</div>
        
        <!-- 购物车表头 -->
        <ul class="cart_list_th clearfix">
            <li class="col01">商品名称</li>
            <li class="col03">商品价格</li>
            <li class="col04">数量</li>
            <li class="col05">小计</li>
            <li class="col06">操作</li>
        </ul>

        <!-- 购物车商品列表 -->
        <ul class="cart_list_td clearfix" v-for="(sku,index) in cart">
            <!-- 商品选择框 -->
            <li class="col01">
                <input type="checkbox" name="" v-model="sku.selected" @change="update_selected(index)">
            </li>
            <!-- 商品图片 -->
            <li class="col02">
                <img :src="sku.default_image_url" :alt="sku.name">
            </li>
            <!-- 商品名称 -->
            <li class="col03">[[ sku.name ]]</li>
            <!-- 商品单价 -->
            <li class="col05">[[ sku.price ]]元</li>
            <!-- 商品数量调整 -->
            <li class="col06">
                <div class="num_add">
                    <a @click="on_add(index)" class="add fl">+</a>
                    <input v-model="sku.count" @focus="origin_input=sku.count" @blur="on_input(index)" type="text" class="num_show fl">
                    <a @click="on_minus(index)" class="minus fl">-</a>
                </div>
            </li>
            <!-- 商品小计 -->
            <li class="col07">[[sku.amount]]元</li>
            <!-- 删除按钮 -->
            <li class="col08"><a @click="on_delete(index)">删除</a></li>
        </ul>

        <!-- 结算区域 -->
        <ul class="settlements">
            <!-- 全选复选框 -->
            <li class="col01">
                <input type="checkbox" name="" @change="on_selected_all" v-model="selected_all">
            </li>
            <li class="col02">全选</li>
            <!-- 合计金额和商品数量 -->
            <li class="col03">
                合计(不含运费)：<span>¥</span><em>[[total_selected_amount]]</em><br>
                共计<b>[[total_selected_count]]</b>件商品
            </li>
            <!-- 结算按钮 -->
            <li class="col04"><a href="place_order.html">去结算</a></li>
        </ul>

        <!-- 页脚区域 -->
        <div class="footer">
            <div class="foot_link">
                <a href="#">关于我们</a>
                <span>|</span>
                <a href="#">联系我们</a>
                <span>|</span>
                <a href="#">招聘人才</a>
                <span>|</span>
                <a href="#">友情链接</a>
            </div>
            <p>CopyRight © 2016 北京美多商业股份有限公司 All Rights Reserved</p>
            <p>电话：010-****888    京ICP备*******8号</p>
        </div>
    </div>

    <!-- 引入页面专用JS -->
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/cart.js"></script>
</body>
</html>